# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MenacorNebelScanner.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projekte\Rider\MenacorNebelScanner\.idea\.idea.MenacorNebelScanner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
